@page {
  size: A4;
  
}
@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
  /* ... the rest of the rules ... */
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
	padding: 2px;
	 vertical-align: middle;
	 font-size: 8pt;
}
.table>thead>tr>th{
	text-align: center;
	font-weight: normal;
}
.thhead{
	word-wrap: break-word;
}
table{
	table-layout:fixed
}